[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.22.4"
albumentations = "==1.0.3"
ipywidgets = "==8.0.3"
opencv-python = "==4.5.5.64"
pillow = "==9.1.0"
pandas = "==1.3.4"
pycocotools = "==2.0.4"
seaborn = "==0.11.2"
segmentation-models-pytorch = "==0.2.0"
scipy = "==1.7.3"
webcolors = "==1.11.1"
torch = "==1.13.1"
torchvision = "==0.14.1"
torchaudio = "==0.13.1"
wandb = "*"
funcy = "*"
argparse = "*"
scikit-multilearn = "*"
scikit-learn = "*"
timm = "*"

[dev-packages]
gpustat = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.5"
